// Bootstrap mixins
@import "./bootstrap/_mixins.scss";

// Reset and dependencies
@import "./bootstrap/_normalize.scss";
@import "./bootstrap/_print.scss";

// Core CSS
@import "./bootstrap/_reboot.scss";
@import "./bootstrap/_type.scss";
@import "./bootstrap/_images.scss";
@import "./bootstrap/_code.scss";
@import "./bootstrap/_grid.scss";
@import "./bootstrap/_tables.scss";
@import "./bootstrap/_forms.scss";
@import "./bootstrap/_buttons.scss";

// Components
@import "./bootstrap/_transitions.scss";
@import "./bootstrap/_dropdown.scss";
@import "./bootstrap/_button-group.scss";
@import "./bootstrap/_input-group.scss";
@import "./bootstrap/_custom-forms.scss";
@import "./bootstrap/_nav.scss";
@import "./bootstrap/_navbar.scss";
@import "./bootstrap/_card.scss";
@import "./bootstrap/_breadcrumb.scss";
@import "./bootstrap/_pagination.scss";
@import "./bootstrap/_badge.scss";
@import "./bootstrap/_jumbotron.scss";
@import "./bootstrap/_alert.scss";
@import "./bootstrap/_progress.scss";
@import "./bootstrap/_media.scss";
@import "./bootstrap/_list-group.scss";
@import "./bootstrap/_responsive-embed.scss";
@import "./bootstrap/_close.scss";

// Components w/ JavaScript
@import "./bootstrap/_modal.scss";
@import "./bootstrap/_tooltip.scss";
@import "./bootstrap/_popover.scss";
@import "./bootstrap/_carousel.scss";

// Utility classes
@import "./bootstrap/_utilities.scss";

// Extended Bootstrap components
@import "./bootstrap-theme/type-custom.scss";
@import "./bootstrap-theme/alerts-custom.scss";
@import "./bootstrap-theme/buttons-custom.scss";
@import "./bootstrap-theme/nav-heading.scss";
@import "./bootstrap-theme/navbar-utilities.scss";

// Custom theme components
@import "./bootstrap-theme/icons.scss";
@import "./bootstrap-theme/text-inherit.scss";
@import "./bootstrap-theme/nav-bordered.scss";
@import "./bootstrap-theme/buttons-radius.scss";
@import "./bootstrap-theme/container-custom.scss";
@import "./bootstrap-theme/block.scss";
@import "./bootstrap-theme/navbar-transparent.scss";
@import "./bootstrap-theme/carousel-light.scss";
@import "./bootstrap-theme/callouts.scss";
@import "./bootstrap-theme/featured-list.scss";
@import "./bootstrap-theme/zoom.scss";
@import "./bootstrap-theme/text-ribbon.scss";
@import "./bootstrap-theme/iconlist.scss";
@import "./bootstrap-theme/cards-bold.scss";
@import "./bootstrap-theme/statcard.scss";
@import "./bootstrap-theme/pull-quote.scss";
@import "./bootstrap-theme/stage.scss";

@import "./custom/zoeicons.scss";

@import "./custom/homepage-block.scss";
@import "./custom/app-window.scss";
@import "./custom/blue-lines.scss";
@import "./custom/footer.scss";
@import "./custom/header.scss";
@import "./custom/zoetrope-themes.scss";
@import "./custom/about.scss";
@import "./custom/contact.scss";
@import "./custom/zconnect.scss";
@import "./custom/approach.scss";
@import "./custom/blocks.scss";

//
// Custom styles
//
html {
  // set optimal base size
  font-size: $font-size-root;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  &.text-uppercase {
    letter-spacing: .15em;
  }
  small,
  .small {
    font-weight: inherit;
  }
}

h6, .h6 {
  margin-bottom: ($spacer-y * .25);
  color: lighten($gray, 40%);
  text-transform: uppercase;
}

strong {
  font-weight: bold;
}
