<div class="app-window-block">
  <div class="app-window app-window-mac whatwedo-connectivity-wrapper">
    <div class="app-window-header">
      <i class="app-window-button"></i>
      <i class="app-window-button"></i>
      <i class="app-window-button"></i>
    </div>
    <div class="app-window-contents whatwedo-connectivity slides">
      {% for notification in include.props.notifications %}
        <div class="slide{% if forloop.index == 1 %} show{% endif %}">
          <h3>{{ notification.device }}</h3>
          <span class="icon large {{ notification.icon }}"></span>
          {% for line in notification.lines %}
            <p>{{ line }}</p>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
