
<div class="block block-secondary footer-static zoetrope-grey">
  <footer class="container">

    {% include credentials.html %}

    <div class="row footer-content">
      <div class="col-xs-12 col-sm-4 footer-metadata details">
        <h4>Get in touch</h4>
        <!--<img src="/images/logo.png">-->
        <ul class="list-unstyled">
          <li>{{site.meta.phone}}</li>
          <li>{{site.meta.email}}</li>
          <li>{{site.meta.vat}}</li>
          <li>{{site.meta.company}}</li>
          <li>{{site.meta.notice}}</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 footer-metadata partners">
        <h4>Our Partners</h4>
          <div class="row">
            <div class="col v-center">
              <a href="https://www.ibm.com/partnerworld/page/partnerworld-public" target="_blank"><img src="/assets/img/partners/ibm.gif" width="100px" height="auto"/></a>
            </div>
            <div class="col v-center">
              <a href="https://iotsecurityfoundation.org" target="_blank"><img src="/assets/img/partners/iotsf.png" width="100px" height="auto"/></a>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4 footer-metadata about">
        <h4>About ZConnect</h4>
        <p>ZConnect is a complete IoT solution for businesses who want to include connectivity in their products.</p>
        <p>The solution was created by <a href="https://zoetrope.io">Zoetrope labs</a> who provide consulting and set up for the ZConnect system.</p>
      </div>
    </div>

  </footer>

</div>
