
<div class="block block-secondary footer-static zoetrope-dark-blue">
  <footer class="container">


    <div class="row footer-content">
      <div class="col-xs-12 col-sm-4 footer-metadata details">
        <!--<img src="/images/logo.png">-->
        <ul class="list-unstyled">
          <li>
              <a class="contact-option" href="tel:{{site.phone}}">
                <span class="contact-icon icon icon-phone"></span>
                {{site.meta.phone}}
              </a>
          </li>
          <li>
            <a class="contact-option" href="mailto:{{site.email}}">
              <span class="contact-icon icon icon-mail"></span>
              {{site.email}}
            </a>
          </li>
          <li>
            <a class="contact-option" href="{{site.linkedin_page}}">
              <span class="contact-icon icon icon-linkedin"></span>
              {{site.title}} Linkedin
            </a>
          </li>
          <li>
            <a class="contact-option" href="https://github.com/{{site.github_username}}">
              <span class="contact-icon icon icon-github"></span>
              {{site.title}} Github
            </a>
          </li>

        </ul>
        <hr />
        <h5>{{site.title}}</h5>
        <p>{{site.meta.address}}</p>
        <hr />
        <ul class="list-unstyled">
          <li>{{site.meta.vat}}</li>
          <li>{{site.meta.company}}</li>
          <li>{{site.meta.notice}}</li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4 footer-metadata partners">
        <a class="twitter-timeline" href="https://twitter.com/zoetropeLabs" data-widget-id="712726359966162944"
          data-chrome="transparent" data-tweet-limit="2">Tweets by @zoetropeLabs</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

      <div class="col-xs-12 col-sm-4 footer-metadata about">
        <h4>Get In Touch</h4>
        <p>ZConnect is a complete IoT solution for businesses who want to include connectivity in their products.</p>
        <p>The solution was created by <a href="https://zoetrope.io">Zoetrope labs</a> who provide consulting and set up for the ZConnect system.</p>
      </div>
    </div>

  </footer>

</div>
