</div>

<div class="block block-secondary footer-static zoetrope-grey">
  <footer class="container">

    {% include credentials.html %}

    <div class="row footer-content">
      <div class="col-xs-12 col-sm-3 footer-metadata details">
        <h3>Get in touch</h3>
        <!--<img src="/images/logo.png">-->
        <ul class="list-unstyled">
          <li>{{site.meta.phone}}</li>
          <li>{{site.meta.email}}</li>
          <li>{{site.meta.vat}}</li>
          <li>{{site.meta.company}}</li>
          <li>{{site.meta.notice}}</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3 footer-metadata address">
        <h3>Find Us</h3>
        <ul class="list-unstyled">
          <li>{{site.meta.address}}</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 footer-metadata partners">
        <h3>Our Partners</h3>
          <ul class="list-unstyled">
            <li>IBM</li>
            <li>IoT Security Foundation</li>
          </ul>
      </div>
    </div>

  </footer>

</div>
