

<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked flex-column">
  {% for my_page in site.pages %}
    {% if my_page.title %}
      <li class="nav-item">
        <a class="nav-link {% if page.url == my_page.url %}active{% endif %}" href="index.html">{{ my_page.title | escape }}</a>
      </li>
    {% endif %}
  {% endfor %}  
  </ul>
</div>

<div class="stage" id="stage">

<div class="footer-pad">

<div class="container py-4 navbar-padded app-navbar">
  <nav class="navbar navbar-toggleable-sm">
    <button
      class="navbar-toggler navbar-toggler-right hidden-md-up"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-auto" href="">
      <strong style="background: #fff; padding: 12px; border-radius: 4px; color: #28669F;">zconnect</strong>
    </a>

    <div class="hidden-sm-down text-uppercase">
      <ul class="navbar-nav">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li class="nav-item px-1 ">
            <a class="nav-link {% if page.url == my_page.url %}active{% endif %}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
