
{% assign pages = site.pages | sort:"weight"  %}
{% assign mobile_pages = site.pages | sort:"weight" | sort:"mobile_weight"  %}

<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked flex-column">
    {% for my_page in mobile_pages %}
      {% if my_page.title and my_page.primary_menu %}
        {% if my_page.sub_links %}
          <li class="nav-header">{{my_page.title}}</li>
          {% for sub_page in my_page.sub_links %}
            <li class="nav-item px-1">
              <a class="nav-link {% if page.url == sub_page.url %}active{% endif %}" href="{{ sub_page.url | relative_url }}">{{sub_page.title}}</a>
            </li>
          {% endfor %}
        {% else %}
          <li class="nav-item px-1">
            <a class="nav-link {% if page.url == my_page.url %}active{% endif %}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="stage header-background" id="stage" {% if page.header_background %}style="background-image: url({{page.header_background}}), linear-gradient(to right, #009fe3, #009fe3)" {% endif %}>

<div class="container py-4 app-navbar">
  <nav class="navbar nav-bordered navbar-padded navbar-transparent navbar-toggleable-md navbar-light">
    <button
      class="navbar-toggler navbar-toggler-right hidden-lg-up"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-auto" href="/">
      <img src="{{ site.baseurl }}/assets/img/logo-zoetrope-labs-white.png" width="auto" height="40rems" alt={{site.title}} />
    </a>

    <div class="hidden-md-down text-uppercase">
      <ul class="navbar-nav">
        {% for my_page in pages %}
          {% if my_page.title and my_page.primary_menu %}
            {% if my_page.sub_links %}
              <li class="nav-item dropdown px-1">
                <a class="nav-link dropdown-toggle" href="{{my_page.url}}" id="dd-{{my_page.url | slugify}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{my_page.title}}</a>
                <div class="dropdown-menu" aria-labelledby="dd-{{my_page.url | slugify}}">
                  {% for sub_page in my_page.sub_links %}
                    <a class="dropdown-item{% if page.url == sub_page.url %} active{% endif %}" href="{{ sub_page.url | relative_url }}">{{sub_page.title}}</a>
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="nav-item px-1">
                <a class="nav-link {% if page.url == my_page.url %}active{% endif %}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
