
<div class="masked-image" style="background-image: url({{include.path}}); background-size: cover; background-position: bottom right;">

    <div class="left-mask">
        <svg width="1000" height="1000" view-box="0 0 1000 1000" class="" xmlns="http://www.w3.org/2000/svg" version="1.1" >
            <path d="M -65.771088,1147.0722 806.30516,-46.14005 -67.142858,-47.150203 Z"/>
        </svg>
    </div>

    <svg width="1000" height="1000" view-box="0 0 1000 1000" class="right-lines" xmlns="http://www.w3.org/2000/svg" version="1.1" >
      <g>
        <path class="blue-line line-left " d="M 292.80035,1224.215 1164.8766,31.002809" />
        <path class="blue-line line-center " d="M 489.9432,1229.9293 1362.0194,36.717094" />
        <path class="blue-line line-right " d="M 701.37177,1232.7864 1573.448,39.574237" />
      </g>
    </svg>

</div>
