
<div class="masked-image" style="background-image: url({{include.path}}); background-size: cover; background-position: bottom right;">

<div class="right-mask">
        <svg width="1000" height="1000" view-box="0 0 1000 1000" class="" xmlns="http://www.w3.org/2000/svg" version="1.1" >
            <path d="M 1068.7576,-40.329689 196.68132,1152.8826 l 873.44808,1.0101 z"/>
        </svg>
    </div>

    <svg width="1000" height="1000" view-box="0 0 1000 1000" class="left-lines" xmlns="http://www.w3.org/2000/svg" version="1.1" >
      <g>
        <path class="blue-line line-left " d="M -590.05679,1135.6436 282.01946,-57.568624" />
        <path class="blue-line line-center " d="M -392.91394,1141.3579 479.16226,-51.854334" />
        <path class="blue-line line-right " d="M -181.48537,1144.215 690.59086,-48.997194" />
      </g>
    </svg>

</div>
