<div class="block zt-row-centered{% if include.row.class %} {{ include.row.class }}{% endif %}">
  <div class="block-foreground container">
    {% assign props = include.props %}
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 text-center">
        <h3>{{ props.title }}</h3>
        {% if props.subtitle %}<em><strong>{{ props.subtitle | escape }}</strong></em>{% endif %}
        {{ props.text | markdownify }}</p>
        {% if props.image or props.include %}
          <div class="borderless-img">
          {% if props.image %}
            <div class="borderless-img-content" style="background-image: url('{{ props.image }}');">&nbsp;</div>
          {% else %}
            {% include {{ props.include.name }} props=props.include.props %}
          {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    {% if props.columns %}
      <div class="row">
        {% for column in props.columns %}
          <div class="col-sm-{{ 12 | divided_by:props.columns.size | floor }} text-center">
            <img src={{ column.image }} class="img-fluid"/>
            <h5>{{ column.title }}</h5>
            <p>{{ column.text }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
