

<div id="zconnect-slide-show">

    <ul class="zconnect-slides list-unstyled">
        <li class="show"><span class="icon icon-new"></span> 1. On board diagnosis reports a fault</li>
        <li><span class="icon icon-cycle"></span> 2. Device diagnosis gets sent to engineer </li>
        <li><span class="icon icon-man"></span> 3. Engineer takes spare part and fixes in one visit. </li>
        <li><span class="icon icon-phone"></span>4. Less unplanned downtime and better use of engineers time</li>
    </ul>

</div>
