

<div id="zconnect-slide-show">

    <ul class="zconnect-slides list-unstyled">
        <li class="show"><span class="icon icon-new"></span><p>1. On-board ZConnect diagnosis reports a fault</p></li>
        <li><span class="icon icon-cycle"></span><p>2. Device diagnosis gets sent to engineer</p></li>
        <li><span class="icon icon-man"></span><p>3. Engineer takes spare part and fixes in one visit</p></li>
        <li><span class="icon icon-stopwatch"></span><p>4. Less unplanned downtime and better use of engineers time</p></li>
    </ul>

</div>
