
.zoetrope-team {
  padding: 40px 0;
}

// The team profile cards
.zoetrope-team .card {

  margin-bottom: 40px;

  div.card-block {
    padding: 0;
  }

  img.card-img-top {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }

  .team-name {
    padding-top: 15px;
    font-weight: bold;
  }

  .team-subheading{
    padding-bottom: 5px;
    clear: both;
    margin-bottom: 5px;
  }

  .team-role {
    display: inline-block;
  }
  .team-links {
    a { margin-right: 5px }
  }
}

