
.block-inverse{
    background-color: transparent;
}

// Block overrides
.block-foreground{
    z-index: 2;
}

.block-foreground.container {
  display: block;
}

.block-background {
    z-index: 1;
}

.zconnect-fixed-height {
    padding-left: 0;
    padding-right: 0;

    min-height: 500px;

    .block-background {
        height: 500px;
    }
}

.zconnect-fluid-height {
    padding-left: 0;
    padding-right: 0;

    min-height: 500px;

    .block-background {
        min-height: 500px;
        height: 100%;
    }
}


.block.hero{
    font-size: 18px;
}

$push-down-amount: 100px;
.solid-blue-angle-bg{
    overflow: hidden;

    .block-background{
      margin-top: $push-down-amount; //pushes angle down a bit
      background-color: $zoetrope-blue;
      height: 100%;
      @include angle-edge($angle: 6, $angle-position-y: 'top', $angle-position-x: 'left');
    }

    .push-down{
        padding-top: $push-down-amount + 50px;
    }
}


// Responsive
.zcontent{
	@include media-breakpoint-down(md){

		.block-foreground{
			padding: 0 20px;
		}

		.block-foreground, .block-background{
			position: relative;
		}
	}
}
