

.block{
  font-size: 18px;

  &.no-padding {
    padding: 0;
  }
}

.block-inverse{
    background-color: transparent;
}

// Block overrides
.block-foreground{
    z-index: 2;
}

.block-foreground.container {
  display: block;
}

.block-background {
    z-index: 1;
}

.zconnect-fixed-height {
    padding-left: 0;
    padding-right: 0;

    min-height: 500px;

    .block-background {
        height: 500px;
    }
}

.zconnect-fluid-height {
    padding-left: 0;
    padding-right: 0;

    min-height: 500px;

    .block-background {
        min-height: 500px;
        height: 100%;
    }
}


.block.hero{
    font-size: 30px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.4);
}

// Responsive
.zcontent{
	@include media-breakpoint-down(md){

		.block-foreground{
			padding: 0 20px;
		}

		.block-foreground, .block-background{
			position: relative;
		}
	}
}


// This block type is for where there is a angled blue line covering over
// the background from a parent element. Normally used for a sub-hero.
$push-down-amount: 100px;
.solid-angle-bg{
    overflow: hidden;
    padding-bottom: 13vw;

    .block-background{
        margin-top: $push-down-amount; //pushes angle down a bit
        background-color: $zoetrope-blue;
        height: 100%;
        @include angle-edge($angle: 6, $angle-position-y: 'top', $angle-position-x: 'left', $fallback: false);
    }

    .push-down {
        margin-top: $push-down-amount + 50px;
    }

    .push-down-no-overlap {
        margin-top: $push-down-amount * 2 + 50px;
    }

    &.hero {
      padding-bottom: 50px;
    }
}

@include media-breakpoint-down(md) {
    .solid-angle-bg{
        .push-down {
            margin-top: 50px;
        }

        .push-down-no-overlap {
            margin-top: 100px;
        }
    }
}

// IE/Edge doesn't support the angle yet, so just do a bar
// Edge may not need the hack in future!
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .solid-angle-bg .block-background {
    margin-top: $push-down-amount * 2;
  }
}

@supports (-ms-ime-align:auto){
  .solid-angle-bg .block-background {
    margin-top: $push-down-amount * 2;
  }
}

.solid-angle-bg-white{
    .block-background{
        background-color: $zoetrope-white;
    }
}

.block-services {

    .zconnect-details {
        padding: 60px;
    }

    .service-details {
        padding: 45px;
    }

    .service-title {
        color: $zoetrope-white; //nasty little override
                                // due to the zoetrope-theme inheritance
    }

    hr {
        background-color: white;
    }

    .service-item {
        margin-top: 45px;
    }

    .borderless-img{
        padding:0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img{
            width: 100%;
            height: auto;
        }
    }

    .borderless-img-content{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    @include media-breakpoint-down(md){
        // Set's a height of the images on mobile
        .borderless-img, .borderless-img-content{
            height: 300px;
        }
    }
}

.block-quote {

    box-shadow: inset 0px 8px 8px rgba(0,0,0,0.2);

    .quote {
        font-size: 32px;
        font-style: italic;
    }
    .quote-attribution {
        font-size: 18px;
        font-weight: bold;
    }
}
