

.blue-lines {
    //width: 100%;
    //height: 100%;
    opacity: 1;
}

.blue-lines.header{
    width: 100%;
    height: 100%;
}

.blue-lines g{
    position: relative;
    transform: translate(-400px, 0px);

    // What a mess - however no easy way to have
    // an inversly proportional position on the width
    @media (min-width: 1500px) {
        transform: translate(-200px, 0px);
    }
    @media (min-width: 1800px) {
        transform: translate(-100px, 0px);
    }
    @media (min-width: 2000px) {
        transform: translate(0px, 0px);
    }
    @media (min-width: 2200px) {
        transform: translate(100px, 0px);
    }
    @media (min-width: 2500px) {
        transform: translate(300px, 0px);
    }

}

.blue-line {
    mix-blend-mode: multiply;
    stroke: $zoetrope-blue;
    stroke-width: 250px;
}

.blue-lines.animate {
    .blue-line {
        transition: 1000ms;
        opacity: 0;
    }
    .blue-line.line-left{
        transform: translate(-300px, 0px);
    }
    .blue-line.line-right{
        transform: translate(300px, 0px);
    }
}

body.loaded .blue-lines.animate .blue-line {
    transform: none;
    opacity: 1;
}

// Image masking styles
.image-mask-outer{
    height: 100%
}
.masked-image{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        height: auto;
    }

}

.left-mask, .right-mask {
    z-index: 2;
    position:absolute;
    bottom: -20px;
    left: 0;

    path {
        fill: $zoetrope-white;
    }
}

.right-mask {
    bottom: -20px;
    right: 0;
}

.right-lines {
    position:absolute;
    bottom: 0;
    left: 250px;
}

.left-lines {
    position:absolute;
    bottom: 0;
    left: 0;
}
