

.contact-hero {

  .block-background {
    background: url("/assets/img/contact.jpg");
    background-size: cover;
    background-position: center;
  }

  .block-foreground {
    display: block; //required for the container to work properly
  }

}

.contact-background{
	padding: 30px;
}

.contact-main {
	padding: 30px;
}

.contact-sidebar > div{
	padding: 30px;
	margin: 30px;
}

#map-canvas {
	height: 300px;
}

.contact-options{
	padding-top: 20px;
}
.contact-option {
	display: block;
}
.contact-icon, .contact-text {
	display: block;
}
.contact-icon{
	font-size: 100px;
	line-height: 70px;
}
.contact-text{
	font-size: 24px;
	line-height: 100px;
}

.contact-form-wrapper {
    margin: auto;
}
