
.contact-background{
	padding: 30px;
}

.contact-main {
	padding: 30px;
}

.contact-sidebar > div{
	padding: 30px;
	margin: 30px;
}

#map-canvas {
	height: 300px;
}

.contact-options{
	padding-top: 20px;
}
.contact-option {
	display: block;
}

.contact-icon, .contact-text{
	font-size: 18px;
	line-height: 40px;
    vertical-align: middle;
}
.contact-icon{
	font-size: 24px;
    margin-right: 10px;
}

.contact-form-wrapper {
    margin: auto;
}
