

.block.footer-static {
    padding: 50px 1rem;
}

.footer-content{
  //font-size: 12px;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  .list-unstyled{
    //line-height: 18px;
  }
}

.credentials-title{
  padding: 0 0 50px 0;
}

.credentials {
  padding: 40px 0 40px 0;
}

.credentials > div {
    font-size: 100px;
    line-height: 60px;
}

.v-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
