

.navbar-light .navbar-nav .nav-link{
	color: $zoetrope-blue;
}

.navbar-padded{
  padding-bottom: 0 !important; // Don't pad the secondry menu down
}

.navbar-brand{
  img{
    vertical-align: middle;
  }
  h3{
    vertical-align: middle;
    display: inline;
    color: $zoetrope-blue-darkest !important;
    font-size: 40px;
    margin-left: -10px;
  }
}
