

.navbar-light .navbar-nav .nav-link{
	color: $zoetrope-white;
  font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link:hover{
  color: darken($zoetrope-white, 20%);
}

.navbar-light .navbar-nav .nav-link.active{
  color: $zoetrope-white;
  border-bottom: 3px solid white;
}

.navbar-padded{
  padding-bottom: 0 !important; // Don't pad the secondry menu down
}

.navbar-brand{
  img{
    vertical-align: middle;
  }
  h3{
    vertical-align: middle;
    display: inline;
    color: $zoetrope-blue-darkest !important;
    font-size: 40px;
    margin-left: -10px;
  }
}

.header-background{
  // This background is the default if it's not set using
  // the `header_background` attribute in front matter
  // per page.
  background: linear-gradient(to right, #009fe3, #009fe3), url("/assets/img/homepage.jpg");

  // required.
  background-repeat: no-repeat;
  background-position: center top;
  background-blend-mode: multiply;
  background-size: contain;
}
