

div.block.homepage-hero {

    height: 85vh;

    .block-background {
        background: url("/assets/img/homepage.jpg");
        background-size: cover;
    }

    // Titles etc
    .block-foreground{
        position: relative;
        top: 100%;
        @include media-breakpoint-up(md) {
            left: 20%;
        }
    }

    .boxed{
        display: block;
        margin: 0 0 15px;
        font-weight: bold;
        height: 60px;
        overflow: hidden;
        position: relative;
        text-align: center;

        ul{
            position: absolute;
            top: 0;
            transition: 500ms;
            width: 100%;
        }

        li {
            line-height: 55px;
        }
    }

    // Positioning of blue lines on homepage
    .blue-lines g{
        position: relative;

        // Positioning to keep content in place
        @media (min-width: 1500px) {
            transform: translate(5%, 0px);
        }
        @include media-breakpoint-down(xl) {
            transform: translate(-200px, 0px);
        }
        @include media-breakpoint-down(md) {
            transform: translate(-400px, 0px);
        }
    }
}



.block-navigation{

    h3 {
        color: $zoetrope-white;
    }

    .homepage-menu-block a{
        display: block;
        color: $zoetrope-white;
        height: 250px;
        padding: 80px 0;
    }

    a:hover{
        text-decoration: none;
    }

    .btn-effect {
        border: 1px solid $zoetrope-white;
        padding: 5px;
    }

    .block-connect {
        background: url("/assets/img/producthandover_sm.jpg");
        background-size: cover;
    }
}
