
#zconnect-slide-show{

    background-image: url("/assets/img/fridge.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 400px;

    ul {

        width: 340px;
        margin: 0 auto;
        padding: 15px 0;

        li {
            opacity: 0;
            transition: opacity 1s;

            background: $zoetrope-grey-light;
            width: 100%;
            height: 70px;
            margin-bottom: 20px;

            box-shadow: 0 0 2px 0px;

            span {
                line-height: 40px;
                padding: 15px;
                font-size: 30px;
                float: left;
                display: block;
                background-color: $zoetrope-grey;
                color: $zoetrope-blue;
                margin-right: 10px;
            }
            p {
                padding: 10px;
            }
        }

        li.show{
            opacity: 1;
        }

    }
}
