
.zoetrope-blue, .zoetrope-white, .zoetrope-grey, .zoetrope-dark-blue{

}

hr {
    border: none;
    height: 5px;
    background-color: $zoetrope-blue;
}

.zoetrope-blue {
    background: $zoetrope-blue;
    color: white;
    a, hr {
        color: white;
    }
    h1,h2,h3,h4,h5 {
        color: white;
    }
}

.zoetrope-white {
    background: $zoetrope-white;
    color: $gray-darker;
    a, hr {
        color: $zoetrope-blue;
    }
    h1,h2,h3,h4,h5 {
        color: $zoetrope-blue;
    }
}

.zoetrope-grey {
    background: $zoetrope-grey;
    color: white;
    a, hr {
        color: white;
    }
    h1,h2,h3,h4,h5 {
        color: $zoetrope-blue;
    }
}

.zoetrope-light-grey{
    background: $zoetrope-grey-bg;
    color: $gray-darker;
    a, hr {
        color: $zoetrope-blue;
    }
    h1,h2,h3,h4,h5 {
        color: $zoetrope-blue;
    }
}

.zoetrope-dark-blue {
    background: $zoetrope-blue-darkest;
    color: white;
    a, hr {
        color: white;
    }
    h1,h2,h3,h4,h5 {
        color: $zoetrope-blue;
    }
}

.strong-underline-border{
    border-bottom: 15px solid $zoetrope-blue;
}

.underline-border{
    border-bottom: 5px solid $zoetrope-blue;
}

.block-inverse{
    background-color: $zoetrope-grey-bg;
}
