---
layout: default
---

<div class="block block-inverse approach-hero hero strong-underline-border">
  <div class="block-foreground container">
    <h1 class="page-heading">Our approach is fast, proven<br /> and affordable</h1>
    {{ content }}
  </div>
  <div class="block-background">
    {% include blue-lines.html %}
  </div>
</div>

<article class="zoetrope-white">

  <div class="block zconnect-fixed-height zcontent">
    <div class="block-foreground container">
      <div class="row">
          <div class="col-sm-12 col-lg-6" style="padding: 50px 0 50px;">
            <h2>Consult</h2>
            <em><strong>1 week</strong></em>
            <p>We work with you to create a plan for connecting your products that will maximise the gains and minimise any risks or costs. We enjoy working with both technical directors and business directors; whatever your level of technical expertise, we are confident communicating the right information for you to be able to make sound business decisions.</p>
          </div>
        </div>
    </div>
    <div class="block-background hidden-sm-down">
      <div class="col-lg-6 offset-lg-6 image-mask-outer">
          {% include image-mask-right.html path="/assets/img/approach/consult.jpg" %}
        </div>
    </div>
  </div>

  <div class="block zconnect-fixed-height zcontent">
    <div class="block-foreground container">
      <div class="row">
          <div class="col-lg-6 offset-lg-6">
            <h2>Design &amp; Prototype</h2>
            <em><strong>6-8 weeks</strong></em>
            <p>We have a modular system ready to integrate with your product, we use elements of this where appropriate to speed up the delivery and reduce your costs and project risk. We are adept at designing custom modules, so we can meet your unique business needs and integrate with your existing systems. </p>
            <p>We will build a prototype of your product in our lab, which allows you to trial the system before signing off a final design or incurring any production manufacturing costs. </p>
          </div>
        </div>
    </div>
    <div class="block-background hidden-sm-down">
      <div class="col-lg-6 image-mask-outer">
          {% include image-mask-left.html path="/assets/img/approach/design.jpg" %}
        </div>
    </div>
  </div>

  <div class="block zconnect-fixed-height zcontent">
    <div class="block-foreground container">
      <div class="row">
          <div class="col-sm-12 col-lg-6">
            <h2>Trial &amp; Refine</h2>
            <em><strong>4 week trial - Validate your concept in 12 weeks!</strong></em>
            <p>We'll help you run a trial of your prototype IoT system which will help identify strengths and weaknesses of the solution before deciding what features to roll into a real product.</p>
            <p>Upon working with you to finalise which features to take forward, we'll integrate connectivity into your products in a production-ready capacity.</p>
          </div>
        </div>
    </div>
    <div class="block-background hidden-sm-down">
      <div class="col-lg-6 offset-lg-6 image-mask-outer">
          {% include image-mask-right.html path="/assets/img/approach/refine.jpg" %}
        </div>
    </div>
  </div>

  <div class="block zconnect-fixed-height zcontent">
    <div class="block-foreground container">
      <div class="row">
          <div class="col-lg-6 offset-lg-6">
            <h2>Go live</h2>
            <p>You and your customers start benefiting from the new connectivity of your product and the actionable insight from day one. Licensing of the product includes email and phone support from us, to give you peace of mind and to ensure that everything is working correctly.</p>
            <p>We provide consultation for continually developing your product alongside your business. If you want to take maintenance, support and development in house, we will work with you to ensure a smooth transition.</p>
          </div>
        </div>
    </div>
    <div class="block-background hidden-sm-down">
      <div class="col-lg-6 image-mask-outer">
          {% include image-mask-left.html path="/assets/img/approach/golive.jpg" %}
        </div>
    </div>
  </div>

</article>
