---
layout: default
---

<div class="block block-inverse hero">
  <div class="block-foreground container">
    <div class="col-md-8 col-lg-6">
      <h1 class="page-heading">{{ page.title }}</h1>
      {{ page.subheading }}
      <div class="byline">
        {{page.date | date: "%b %d, %Y"}}
        {% if page.author %}
          by {{site.authors[page.author].name}}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<article class="block block-inverse solid-angle-bg solid-angle-bg-white solid-angle-bg-no-overlap">
  <div class="block-foreground container">
    <div class="content push-down-no-overlap zoetrope-white">
      <div class="row">
        {% for row in page.rows %}
          {% assign mod = forloop.index | modulo: 2 %}
          <div class="block zconnect-fluid-height zcontent">
            <div class="block-foreground container">
              <div class="row">
                  <div class="col-sm-12 col-lg-6{% if mod == 0 %} offset-lg-6{% endif %}">
                    <h3>{{ row.title }}</h3>
                    {% if row.subtitle %}<em><strong>{{ row.subtitle | escape }}</strong></em>{% endif %}
                    {{ row.text | markdownify }}</p>
                  </div>
                  {% if row.image or row.include %}
                    <div class="col-sm-12 col-lg-6{% if mod != 0 %} text-right{% endif %}">
                      {% if row.image %}<img width="65%" height="auto" src="{{ row.image }}">
                      {% else %}{% include {{ row.include.name }} props=row.include.props %}
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
            </div>
            {% if row.background %}
              <div class="block-background">
                {% if mod != 0 %}
                  <div class="col-lg-6 offset-lg-6 image-mask-outer">
                    {% include image-mask-right.html path=row.background %}
                  </div>
                {% else %}
                  <div class="col-lg-6 image-mask-outer">
                    {% include image-mask-left.html path=row.background %}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row article zoetrope-white">
      <div class="col-sm-12 {%if page.sidebar %}col-md-8{% else %}col-md-12{% endif %}">
        {{page.content}}
      </div>
      {%if page.sidebar %}
        <div class="sidebar col-xs-12 col-sm-4">
          {% include {{page.sidebar}} %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="block-background">&nbsp;</div>
</article>
