---
layout: default
---

<div class="block block-inverse hero homepage-hero">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-8 col-lg-7">
          <h1 class="page-heading">We accelerate ideas into connected products</h1>
          <p>ZConnect is a managed end-to-end IoT solution to turn data from your products into actionable insight</p>
          <p><a class="btn btn-success btn-lg mt-1" href="/contact">Book a demo <span class="icon icon-chevron-small-right"></span></a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block-inverse solid-blue-angle-bg">
  <div class="block-foreground container">
    <div class="content">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/img/iphone.png">
        </div>
        <div class="col-md-6 push-down">
          <h3>Our clients trust us with their products... and reputation.</h3>
          <p>We work with some of the biggest blue chips and brightest startups to enable connected products to generate business value</p>
          <div class="row credentials text-center zoetrope-blue">
            <div class="col"><span class="zoeicons-eon">&nbsp;</span></div>
            <div class="col"><span class="zoeicons-gsma">&nbsp;</span></div>
            <div class="col hidden-sm-down"><span class="zoeicons-ambie">&nbsp;</span></div>
          </div>
          <div class="text-center">
            <a class="btn btn-success">Read a case study</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-background">&nbsp;</div>
</div>

{%if false%}
<div class="container-fluid block-navigation strong-underline-border">
  <div class="row">
    <div class="col-md-3 col-sm-12 text-center homepage-menu-block block-connect">
      <a href="/zconnect">
        <h3>ZConnect</h3>
        <span class="btn-effect">Connect your products</span>
      </a>
    </div>
    <div class="col-md-3 col-sm-12 text-center homepage-menu-block block-connect">
      <a href="/zconnect">
        <h3>ZConnect</h3>
        <span class="btn btn-outline .btn-secondary">Connect your products</span>
      </a>
    </div>
    <div class="col-md-3 col-sm-12 text-center homepage-menu-block block-connect">
      <a href="/zconnect">
        <h3>ZConnect</h3>
        <span class="btn btn-outline .btn-secondary">Connect your products</span>
      </a>
    </div>
    <div class="col-md-3 col-sm-12 text-center homepage-menu-block block-connect">
      <a href="/zconnect">
        <h3>ZConnect</h3>
        <span class="btn btn-outline .btn-secondary">Connect your products</span>
      </a>
    </div>
  </div>
</div>
{% endif %}
