---
layout: default
---

<div class="block block-inverse hero homepage-hero">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-8 col-lg-7">
          <h1 class="page-heading">{{page.heading}}</h1>
          <p>{{page.subheading | markdownify}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block-inverse solid-angle-bg zoeicons-blue">
  <div class="block-foreground container">
    <div class="content">
      <div class="row">
        <div class="col-sm-12 col-lg-6 text-center">
          <div class="marvel-device iphone5s silver">
            <div class="top-bar"></div>
            <div class="sleep"></div>
            <div class="volume"></div>
            <div class="camera"></div>
            <div class="sensor"></div>
            <div class="speaker"></div>
            <div class="screen">
              <!-- Content goes here -->
              <img src="{{page.hero_cta_image}}">
            </div>
            <div class="home"></div>
            <div class="bottom-bar"></div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6 push-down">
          <h3>{{page.hero_cta_heading}}</h3>
          {{page.hero_cta_content | markdownify}}
          <div class="row credentials text-center zoetrope-blue">
            <div class="col"><span class="zoeicons-eon">&nbsp;</span></div>
            <div class="col"><span class="zoeicons-gsma">&nbsp;</span></div>
            <div class="col hidden-sm-down"><span class="zoeicons-ambie">&nbsp;</span></div>
          </div>
          <div class="text-center">
            <a class="btn btn-success" href="{{page.hero_cta_link}}">{{page.hero_cta_link_text}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-background">&nbsp;</div>
</div>

<div class="block block-secondary zoetrope-light-grey">
  <div class="block-foreground container">
    <div class="content">
      <div class="row">
          <div class="col-md-6">
            <h3>{{page.zconnect_callout_title}}</h3>
            {{page.zconnect_callout_text | markdownify}}
          </div>
          <div class="col-md-6">
            {% if page.zconnect_callout_include %}
              {% include {{page.zconnect_callout_include}} %}
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>

<div class="block block-secondary block-services zoetrope-grey">
  <div class="block-foreground container">
    <div class="content">

      <div class="row">
        <div class="services-title text-center col-xs-12 col-md-12">
          <h2 class="">{{page.other_services_title}}</h2>
          <p>{{page.other_services_subtitle}}</p>
        </div>
      </div>

      {% for row in page.rows %}
        {% assign mod = forloop.index | modulo: 2 %}
          <div class="row service-item zoetrope-blue">
            {% if row.image or row.include %}
              <div class="borderless-img col-sm-12 col-lg-6 {% if mod == 1 %} push-lg-6{% endif %}">
                {% if row.image %}<img src="{{ row.image }}">
                {% else %}{% include {{ row.include.name }} props=row.include.props %}
                {% endif %}
              </div>
            {% endif %}
            <div class="service-details col-sm-12 col-lg-6 {% if mod == 1 %} pull-lg-6{% endif %}">
              <h3 class="service-title">{{ row.title }}</h3>
              <hr />
              {% if row.subtitle %}<em><strong>{{ row.subtitle | escape }}</strong></em>{% endif %}
              {{ row.text | markdownify }}</p>
              <p><a class="btn btn-success" href="{{row.cat_link}}">{{row.cta_link_text}}</a></p>
            </div>
          </div>
      {% endfor %}

    </div>
  </div>
</div>
