---
layout: default
---

<div class="block block-inverse whitepaper-hero whitepaper-{{page.title | slugify: "pretty"}} strong-underline-border">
  <div class="block-foreground container">
    <h1 class="page-heading">{{ page.title | escape }}</h1>
  </div>
  <div class="block-background">
    &nbsp;
  </div>
</div>

<article class="zoetrope-white whitepaper-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">

        {{ content }}
      </div>
      <div class="col-xs-12 col-md-4">
        <h2>{{page.form_title}}</h2>
        <!-- Hubspot form -->
        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            css: '',
            portalId: "{{site.hs_portal_id}}",
            formId: "{{page.hs_form_id}}"
          });
        </script>
        <div class="no-hubspot">
          <h2>Our content gating system is blocked on your browser</h2>
          <p> From here, either: </p>
          <ol>
            <li> Drop us an email at <a href="mailto:{{site.meta.email}}">{{site.meta.email}}</a> to ask us for the whitepaper(s) you're after. </li>
            <li> Disable your ad-blocker (e.g. ghostery / ad-block plus / uBlock) for this site and reload the page.</li>
        </div>
      </div>
    </div>
  </div>


</article>
