---
layout: default
---

<div class="block block-inverse zconnect-hero hero strong-underline-border">
  <div class="block-foreground container">
    <h1 class="page-heading">We deliver a complete<br/> connected product solution</h1>
    {{ content }}
  </div>
  <div class="block-background">
    {% include blue-lines.html %}
  </div>
</div>

<article class="zoetrope-white">

  <div class="block zconnect-fixed-height">
    <div class="block-foreground container">
      <div class="row">
          <div class="col-sm-12 col-md-6">
            <h3>We create hardware that will interface with your product’s existing electronics to collect useful data.</h3>
            <p>This hardware is tailored around what’s already in the product; we can add new sensors to collect data or use existing sensors and just add the required hardware to connect the product to the internet via 3G, wi-fi or LPWA.</p>
            <p>The hardware can mount onto existing products, which is especially cost-effective and great for prototyping. We can also work with your product designers to seamlessly integrate the required hardware into your product. </p>
            <p>Throughout our consultative process, we design, improve and refine the hardware to ensure that the final product will be built to provide the maximum business value for you.</p>
          </div>
        </div>
    </div>
    <div class="block-background hidden-sm">
      <div class="col-md-6 offset-md-6 image-mask-outer">
          {% include image-mask-right.html path="/assets/img/whatwedo/iot-gateway-board.jpg" %}
        </div>
    </div>
  </div>

  <div class="block zconnect-fixed-height">
    <div class="block-foreground container">
      <div class="row">
          <div class="col-md-6 offset-md-6">
            <h3>Our cloud-based data analytics help you save money and get more from your product from day one. </h3>
            <p>We create a bank of data that belongs to your organisation and is securely stored in the cloud. This gives you the flexibility to explore different ways of using the data within your business, without having to have an in-house tech team.</p>
            <p>We can customise our platform to include predictive analytics so that it will predict product faults and identify usage patterns. Access to the data can be controlled on a user basis to ensure it remains secure.</p>
          </div>
        </div>
    </div>
    <div class="block-background hidden-sm">
      <div class="col-md-6 image-mask-outer">
          {% include image-mask-left.html path="/assets/img/whatwedo/code.jpg" %}
        </div>
    </div>
  </div>

  <div class="block zconnect-fixed-height">
    <div class="block-foreground container">
      <div class="row">
          <div class="col-sm-12 col-md-6">
            <h3>We have iOS, Android and web base apps for our zConnect platform, which we will customise to give you easy access to actionable insights.</h3>
            <p>Our custom dashboards digest the data so you are presented with the insight required for you to be able to make decisions. You can receive push notifications that are triggered by set events or by the predictive analytics. You are also able to control your product through the dashboard, so it’s easy to act on these notifications.</p>
            <p>If you want more information, you can drill down into specific events, filter the data and find historical data.</p>
            <p>We can create a number role based access groups to tailor access to your data around your business needs. We create custom dashboards for each access-level so that people see the insights that are relevant and valuable to them. Creating new accounts and user-levels is easy so the product can scale with your business</p>
          </div>
        </div>
    </div>
    <div class="block-background hidden-sm">
      <div class="col-md-6 offset-md-6 image-mask-outer">
          {% include image-mask-right.html path="/assets/img/whatwedo/iot-gateway-board.jpg" %}
        </div>
    </div>
  </div>

  <div class="block zconnect-fixed-height">
    <div class="block-foreground container">
      <div class="row">
          <div class="col-md-6 offset-md-6">
            <h3>Our consultative process always keeps the end goal in mind - create value in your business.</h3>
            <p>Our suite will allow you to exceed your customer’s expectations:<ul>
          <li>Make products safer, better and more efficient</li>
          <li>Improve your service offering by understanding how your products are used</li>
          <li>Proactively manage your products and fix faults</li>
          </ul>
          </p>
          <p>Empower your team to excel at their jobs:<ul>
          <li>Real-time information at their fingertips frees them up to focus on managing customers and servicing your products</li>
          <li>Reduce wasted time by allowing service engineers to diagnose and potentially fix issues remotely</li>
          </ul>
          </p>
          <p>See new business opportunities clearly:<ul>
          <li>Explore new business models</li>
          <li>See trends in the data that allow you to make your business more efficient</li>
          </ul>
          </p>
          <p>Integrate with IBM’s Watson analytics, or other data services, to contribute product data to a holistic view of your business.</p><p>Ultimately, having access to this product data will prepare you for the information economy and open up new business opportunities that are yet to be explored.</p>
          </div>
        </div>
    </div>
    <div class="block-background hidden-sm">
      <div class="col-md-6 image-mask-outer">
          {% include image-mask-left.html path="/assets/img/whatwedo/consult.jpg" %}
        </div>
    </div>
  </div>

</article>
